<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFAppleHelpAnchor</key>
	<string>PBX001</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>dsym</string>
				<string>dSYM</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Archived Debug Symbol File</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.xcode.dsym</string>
			</array>
			<key>LSTypeIsPackage</key>
			<true/>
			<key>PBXFileTypeIdentifiers</key>
			<array>
				<string>wrapper.dsym</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>xcode</string>
				<string>xcodeproj</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>docicon</string>
			<key>CFBundleTypeName</key>
			<string>Xcode Project File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.xcode.project</string>
			</array>
			<key>LSTypeIsPackage</key>
			<true/>
			<key>NSDocumentClass</key>
			<string>PBXProjectDocument</string>
			<key>PBXFileTypeIdentifiers</key>
			<array>
				<string>wrapper.pb-project</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pbxproj</string>
				<string>pbxuser</string>
				<string>perspective</string>
				<string>mode0</string>
				<string>mode1</string>
				<string>mode2</string>
				<string>mode3</string>
				<string>perspectivev3</string>
				<string>mode0v3</string>
				<string>mode1v3</string>
				<string>mode2v3</string>
				<string>mode3v3</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>xcconfigfile</string>
			<key>CFBundleTypeName</key>
			<string>Xcode Project Data File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.xcode.projectdata</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>XCEditDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>xctarget</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>docicon</string>
			<key>CFBundleTypeName</key>
			<string>Xcode Target File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.xcode.target</string>
			</array>
			<key>LSTypeIsPackage</key>
			<true/>
			<key>NSDocumentClass</key>
			<string>PBXProjectDocument</string>
			<key>PBXFileTypeIdentifiers</key>
			<array>
				<string>wrapper.xc-target</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>xcconfig</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>xcconfigfile</string>
			<key>CFBundleTypeName</key>
			<string>Xcode Configuration Settings File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.xcode.configsettings</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>XCEditDocument</string>
			<key>PBXFileTypeIdentifiers</key>
			<array>
				<string>text.xcconfig</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>xccommands</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>xcconfigfile</string>
			<key>CFBundleTypeName</key>
			<string>Xcode Organizer Commands File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.xcode.commands</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>XCEditDocument</string>
			<key>PBXFileTypeIdentifiers</key>
			<array>
				<string>text.xccommands</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pbxuser</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>docicon</string>
			<key>CFBundleTypeName</key>
			<string>Xcode User Settings File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.xcode.usersettings</string>
			</array>
			<key>NSDocumentClass</key>
			<string>PBXProjectDocument</string>
			<key>PBXFileTypeIdentifiers</key>
			<array>
				<string>wrapper.pb-project</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>xcplugin</string>
				<string>xdplugin</string>
				<string>pbplugin</string>
				<string>xcodeplugin</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>plugin</string>
			<key>CFBundleTypeName</key>
			<string>Xcode Plugin</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.xcode.plugin</string>
			</array>
			<key>LSTypeIsPackage</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>rtf</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>RTF File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>NSDocumentClass</key>
			<string>PBXRTFFileDocument</string>
			<key>PBXFileTypeIdentifiers</key>
			<array>
				<string>text.rtf</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>rtfd</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>RTFD File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<true/>
			<key>NSDocumentClass</key>
			<string>PBXRTFFileDocument</string>
			<key>PBXFileTypeIdentifiers</key>
			<array>
				<string>wrapper.rtfd</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tiff</string>
				<string>tif</string>
				<string>gif</string>
				<string>jpeg</string>
				<string>jpg</string>
				<string>icns</string>
				<string>png</string>
				<string>bmp</string>
				<string>ico</string>
				<string>cur</string>
				<string>fpx</string>
				<string>fpix</string>
				<string>pntg</string>
				<string>pnt</string>
				<string>psd</string>
				<string>sgi</string>
				<string>rgb</string>
				<string>targa</string>
				<string>tga</string>
				<string>qtif</string>
				<string>qti</string>
				<string>pict</string>
				<string>pct</string>
				<string>TIFF</string>
				<string>TIF</string>
				<string>GIF</string>
				<string>JPEG</string>
				<string>JPG</string>
				<string>ICNS</string>
				<string>PNG</string>
				<string>BMP</string>
				<string>ICO</string>
				<string>CUR</string>
				<string>FPX</string>
				<string>FPIX</string>
				<string>PNTG</string>
				<string>PNT</string>
				<string>PSD</string>
				<string>SGI</string>
				<string>RGB</string>
				<string>TARGA</string>
				<string>TGA</string>
				<string>QTIF</string>
				<string>QTI</string>
				<string>PICT</string>
				<string>PCT</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Xcode Image File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>PBXImageFileDocument</string>
			<key>PBXFileTypeIdentifiers</key>
			<array>
				<string>image</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>h</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>hfile</string>
			<key>CFBundleTypeName</key>
			<string>C Header Source File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.c-header</string>
			</array>
			<key>NSDocumentClass</key>
			<string>XCEditDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pch</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>hfile</string>
			<key>CFBundleTypeName</key>
			<string>C Precompiled Header Source File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.precompiled-c-header</string>
			</array>
			<key>NSDocumentClass</key>
			<string>XCEditDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>hh</string>
				<string>hp</string>
				<string>hpp</string>
				<string>hxx</string>
				<string>h++</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>hfile</string>
			<key>CFBundleTypeName</key>
			<string>C++ Header Source File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>NSDocumentClass</key>
			<string>XCEditDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pch++</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>hfile</string>
			<key>CFBundleTypeName</key>
			<string>C++ Precompiled Header Source File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.precompiled-c-plus-plus-header</string>
			</array>
			<key>NSDocumentClass</key>
			<string>XCEditDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>c</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>cfile</string>
			<key>CFBundleTypeName</key>
			<string>C Source File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.c-source</string>
			</array>
			<key>NSDocumentClass</key>
			<string>XCEditDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>m</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>mfile</string>
			<key>CFBundleTypeName</key>
			<string>Objective-C Source File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.objective-c-source</string>
			</array>
			<key>NSDocumentClass</key>
			<string>XCEditDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mm</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>mfile</string>
			<key>CFBundleTypeName</key>
			<string>Objective-C++ Source File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.objective-c-plus-plus-source</string>
			</array>
			<key>NSDocumentClass</key>
			<string>XCEditDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cc</string>
				<string>cp</string>
				<string>cpp</string>
				<string>cxx</string>
				<string>c++</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>c++file</string>
			<key>CFBundleTypeName</key>
			<string>C++ Source File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.c-plus-plus-source</string>
			</array>
			<key>NSDocumentClass</key>
			<string>XCEditDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>s</string>
				<string>asm</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>sfile</string>
			<key>CFBundleTypeName</key>
			<string>Assembly Source File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.assembly-source</string>
			</array>
			<key>NSDocumentClass</key>
			<string>XCEditDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>nasm</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>nasmfile</string>
			<key>CFBundleTypeName</key>
			<string>nasm Assembly Source File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>NSDocumentClass</key>
			<string>XCEditDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>r</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>rfile</string>
			<key>CFBundleTypeName</key>
			<string>Rez Source File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.rez-source</string>
			</array>
			<key>NSDocumentClass</key>
			<string>XCEditDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>java</string>
				<string>jav</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>javafile</string>
			<key>CFBundleTypeName</key>
			<string>Java Source File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.sun.java-source</string>
			</array>
			<key>NSDocumentClass</key>
			<string>XCEditDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>l</string>
				<string>lm</string>
				<string>lmm</string>
				<string>lpp</string>
				<string>lxx</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>lfile</string>
			<key>CFBundleTypeName</key>
			<string>Lex Source File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.xcode.lex-source</string>
			</array>
			<key>NSDocumentClass</key>
			<string>XCEditDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>y</string>
				<string>ym</string>
				<string>ymm</string>
				<string>ypp</string>
				<string>yxx</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>yfile</string>
			<key>CFBundleTypeName</key>
			<string>Yacc Source File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.xcode.yacc-source</string>
			</array>
			<key>NSDocumentClass</key>
			<string>XCEditDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>rb</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>rbfile</string>
			<key>CFBundleTypeName</key>
			<string>Ruby Source File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.ruby-script</string>
			</array>
			<key>NSDocumentClass</key>
			<string>XCEditDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>defs</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Mig Definition File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>NSDocumentClass</key>
			<string>XCEditDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>exp</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>expfile</string>
			<key>CFBundleTypeName</key>
			<string>Symbol Export File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.symbol-export</string>
			</array>
			<key>NSDocumentClass</key>
			<string>XCEditDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>f</string>
				<string>for</string>
				<string>f77</string>
				<string>f95</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>fortranfile</string>
			<key>CFBundleTypeName</key>
			<string>Fortran Source File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<false/>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.xcode.fortran-source</string>
			</array>
			<key>NSDocumentClass</key>
			<string>XCEditDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pas</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Pascal Source file</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<false/>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.xcode.pascal-source</string>
			</array>
			<key>NSDocumentClass</key>
			<string>XCEditDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ada</string>
				<string>adb</string>
				<string>ads</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Ada Source File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<false/>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.xcode.ada-source</string>
			</array>
			<key>NSDocumentClass</key>
			<string>XCEditDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>class</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Java Class File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<false/>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.sun.java-class</string>
			</array>
			<key>NSDocumentClass</key>
			<string>PBXJavaClassFileDocument</string>
			<key>PBXFileTypeIdentifiers</key>
			<array>
				<string>compiled.javaclass</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>strings</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Strings File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.xcode.strings-text</string>
			</array>
			<key>NSDocumentClass</key>
			<string>XCEditDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array/>
			<key>CFBundleTypeName</key>
			<string>Source Code File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>NSDocumentClass</key>
			<string>XCEditDocument</string>
			<key>PBXFileTypeIdentifiers</key>
			<array>
				<string>text</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>*</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Plain Text File</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>****</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>NSDocumentClass</key>
			<string>PBXSourceFileDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>xcdatamodel</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>xcmpersistence</string>
			<key>CFBundleTypeName</key>
			<string>Data Model File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.xcode.model.data</string>
			</array>
			<key>LSTypeIsPackage</key>
			<true/>
			<key>NSDocumentClass</key>
			<string>XDModelDocument</string>
			<key>PBXFileTypeIdentifiers</key>
			<array>
				<string>wrapper.xcdatamodel</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>xcdatamodeld</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>xcmdmversiongroup</string>
			<key>CFBundleTypeName</key>
			<string>Data Model Version File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.xcode.model.data-version</string>
			</array>
			<key>LSTypeIsPackage</key>
			<true/>
			<key>NSDocumentClass</key>
			<string>XDModelDocument</string>
			<key>PBXFileTypeIdentifiers</key>
			<array>
				<string>wrapper.xcdatamodeld</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>xcmappingmodel</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>xcmmapping</string>
			<key>CFBundleTypeName</key>
			<string>Mapping Model File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.xcode.model.data-mapping</string>
			</array>
			<key>LSTypeIsPackage</key>
			<true/>
			<key>NSDocumentClass</key>
			<string>XDModelDocument</string>
			<key>PBXFileTypeIdentifiers</key>
			<array>
				<string>wrapper.xcmappingmodel</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>xcclassmodel</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>xcmclass</string>
			<key>CFBundleTypeName</key>
			<string>Class Model File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.xcode.model.class</string>
			</array>
			<key>LSTypeIsPackage</key>
			<true/>
			<key>NSDocumentClass</key>
			<string>XDModelDocument</string>
			<key>PBXFileTypeIdentifiers</key>
			<array>
				<string>wrapper.xcclassmodel</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>xcdiff</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Xcode Diff File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.xcode.diff</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>XCDiffFileDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mom</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>xcmmom</string>
			<key>CFBundleTypeName</key>
			<string>Class Model File</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.xcode.model.class</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>docset</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>docsets</string>
			<key>CFBundleTypeName</key>
			<string>Documentation Set</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.xcode.docset</string>
			</array>
			<key>LSTypeIsPackage</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mobileprovision</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Document-Prov</string>
			<key>CFBundleTypeName</key>
			<string>Developer Provisioning Profile</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>KLSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.iphone.mobileprovision</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Xcode</string>
	<key>CFBundleGetInfoString</key>
	<string>Xcode version 3.1.2</string>
	<key>CFBundleIconFile</key>
	<string>appicon</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.Xcode</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Xcode</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>3.1.2</string>
	<key>CFBundleSignature</key>
	<string>xcde</string>
	<key>CFBundleVersion</key>
	<string>1149</string>
	<key>Java</key>
	<dict>
		<key>JVMVersion</key>
		<string>1.4+</string>
	</dict>
	<key>LSArchitecturePriority</key>
	<array>
		<string>i386</string>
		<string>x86_64</string>
		<string>ppc</string>
		<string>ppc64</string>
	</array>
	<key>LSMinimumSystemVersion</key>
	<string>10.5</string>
	<key>LSRequiresNativeExecution</key>
	<true/>
	<key>NSAppleScriptEnabled</key>
	<string>YES</string>
	<key>NSMainNibFile</key>
	<string>Xcode.nib</string>
	<key>NSPrincipalClass</key>
	<string>PBXExtendedApplication</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Xcode Project File</string>
			<key>UTTypeIconName</key>
			<string>docicon</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.xcode.project</string>
			<key>UTTypeReferenceURL</key>
			<string>http://developer.apple.com/tools/xcode/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>xcodeproj</string>
					<string>xcode</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Xcode Project Data File</string>
			<key>UTTypeIconName</key>
			<string>docicon</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.xcode.projectdata</string>
			<key>UTTypeReferenceURL</key>
			<string>http://developer.apple.com/tools/xcode/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>pbxproj</string>
					<string>pbxuser</string>
					<string>pbxproj</string>
					<string>pbxuser</string>
					<string>perspective</string>
					<string>mode0</string>
					<string>mode1</string>
					<string>mode2</string>
					<string>mode3</string>
					<string>perspectivev3</string>
					<string>mode0v3</string>
					<string>mode1v3</string>
					<string>mode2v3</string>
					<string>mode3v3</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Xcode Target File</string>
			<key>UTTypeIconName</key>
			<string>xcconfigfile</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.xcode.target</string>
			<key>UTTypeReferenceURL</key>
			<string>http://developer.apple.com/tools/xcode/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>xctarget</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Xcode User Settings File</string>
			<key>UTTypeIconName</key>
			<string>docicon</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.xcode.usersettings</string>
			<key>UTTypeReferenceURL</key>
			<string>http://developer.apple.com/tools/xcode/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>pbxuser</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Xcode Configuration Settings File</string>
			<key>UTTypeIconName</key>
			<string>xcconfigfile</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.xcode.configsettings</string>
			<key>UTTypeReferenceURL</key>
			<string>http://developer.apple.com/tools/xcode/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>xcconfig</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Xcode Organizer Commands File</string>
			<key>UTTypeIconName</key>
			<string>xcconfigfile</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.xcode.commands</string>
			<key>UTTypeReferenceURL</key>
			<string>http://developer.apple.com/tools/xcode/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>xccommands</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.plugin</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Xcode Plugin</string>
			<key>UTTypeIconName</key>
			<string>plugin</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.xcode.plugin</string>
			<key>UTTypeReferenceURL</key>
			<string>http://developer.apple.com/tools/xcode/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>xcplugin</string>
					<string>xdplugin</string>
					<string>pbplugin</string>
					<string>xcodeplugin</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Archived Debug Symbol File</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.xcode.dsym</string>
			<key>UTTypeReferenceURL</key>
			<string>http://developer.apple.com/tools/xcode/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>dsym</string>
					<string>dSYM</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Data Model File</string>
			<key>UTTypeIconName</key>
			<string>xcmpersistence</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.xcode.model</string>
			<key>UTTypeReferenceURL</key>
			<string>http://developer.apple.com/tools/xcode/</string>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
				<string>com.apple.xcode.model</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Data Model File</string>
			<key>UTTypeIconName</key>
			<string>xcmpersistence</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.xcode.model.data</string>
			<key>UTTypeReferenceURL</key>
			<string>http://developer.apple.com/tools/xcode/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>xcdatamodel</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
				<string>com.apple.xcode.model</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Data Model Version File</string>
			<key>UTTypeIconName</key>
			<string>xcmdmversiongroup</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.xcode.model.data-version</string>
			<key>UTTypeReferenceURL</key>
			<string>http://developer.apple.com/tools/xcode/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>xcdatamodeld</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
				<string>com.apple.xcode.model</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Mapping Model File</string>
			<key>UTTypeIconName</key>
			<string>xcmmapping</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.xcode.model.data-mapping</string>
			<key>UTTypeReferenceURL</key>
			<string>http://developer.apple.com/tools/xcode/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>xcmappingmodel</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
				<string>com.apple.xcode.model</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Class Model File</string>
			<key>UTTypeIconName</key>
			<string>xcmclass</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.xcode.model.class</string>
			<key>UTTypeReferenceURL</key>
			<string>http://developer.apple.com/tools/xcode/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>xcclassmodel</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Documentation Set</string>
			<key>UTTypeIconName</key>
			<string>docsets</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.xcode.docset</string>
			<key>UTTypeReferenceURL</key>
			<string>http://developer.apple.com/tools/xcode/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>docset</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>CoreData File</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.xcode.mom</string>
			<key>UTTypeReferenceURL</key>
			<string></string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mom</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.source-code</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Assembler Source File</string>
			<key>UTTypeIdentifier</key>
			<string>public.assembly-source</string>
			<key>UTTypeReferenceURL</key>
			<string></string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>s</string>
					<string>asm</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.source-code</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Rez Source File</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.rez-source</string>
			<key>UTTypeReferenceURL</key>
			<string></string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>r</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.source-code</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Lex Source File</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.xcode.lex-source</string>
			<key>UTTypeReferenceURL</key>
			<string></string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>l</string>
					<string>lm</string>
					<string>lmm</string>
					<string>lpp</string>
					<string>lxx</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.source-code</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Yacc Source File</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.xcode.yacc-source</string>
			<key>UTTypeReferenceURL</key>
			<string></string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>y</string>
					<string>ym</string>
					<string>ymm</string>
					<string>ypp</string>
					<string>yxx</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Symbol Export File</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.symbol-export</string>
			<key>UTTypeReferenceURL</key>
			<string></string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>exp</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.source-code</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Fortran Source File</string>
			<key>UTTypeIconName</key>
			<string>fortranfile</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.xcode.fortran-source</string>
			<key>UTTypeReferenceURL</key>
			<string></string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>f</string>
					<string>for</string>
					<string>f77</string>
					<string>f95</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.source-code</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Pascal Source File</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.xcode.pascal-source</string>
			<key>UTTypeReferenceURL</key>
			<string></string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>pas</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.source-code</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Ada Source File</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.xcode.ada-source</string>
			<key>UTTypeReferenceURL</key>
			<string></string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ada</string>
					<string>adb</string>
					<string>ads</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Java Class File</string>
			<key>UTTypeIdentifier</key>
			<string>com.sun.java-class</string>
			<key>UTTypeReferenceURL</key>
			<string></string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>class</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Mobile Device Provisioning File</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.iphone.mobileprovision</string>
			<key>UTTypeReferenceURL</key>
			<string></string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mobileprovision</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.utf16-plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Strings File</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.xcode.strings-text</string>
			<key>UTTypeReferenceURL</key>
			<string></string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>strings</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
